@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}
/*INDEX*/
body{
    background-image: url(../imagenes/225.png);
}
.cabecera{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:10px;
    background-image: url(../imagenes/225.png);
}
.logo{
    width: 200px;
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: goldenrod;
}
.eslogan{font-family: 'Cormorant SC', serif;
    font-size: 40px;
    margin: 10px;
    padding: 20px;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
h1{
    text-align: center; 
    font-family: 'Cormorant SC', serif;
}
h2{
    text-align: center; 
    font-family: 'Cormorant SC', serif;

}
h3{
    text-align: center;
    font-size: 50px;
    font-family: 'Cormorant SC', serif;;
    border-radius: 1rem;
    border: groove 3px black;
}
h5{
    display: inline-flex;
    text-align: center;
    font-size: 20px;
    font-family: 'Cormorant SC', serif;
}

.boton{
    padding: 5px 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
    /*modificador*/
    .boton:hover{
        height: 50px;
        background-color: goldenrod;
        transition: all 0.7s;
    }


CATEGORIAS*/
.barra-nav{
    background-color: goldenrod;
    border-radius: 1rem;
    padding: 5px;
    border: solid 5px;
    font-size: 16px;
}


/*NOSOTROS*/
.nosotros{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding: 20px;
}
/*NOSOTROS*/

/*Ofertas*/
.grid-container{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-transform: uppercase;
    width: 40%;
    height: 700px;
    margin: 40px auto;  
    border: 1px groove black;
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-areas:
    "header header header"
    "nav   nav   nav" 
    "aside  aside   aside"
    "main  main  main"
    "footer footer footer"
    ;
    gap: 10px;
}
.items{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid;
}
.item1{
    background-color: rgb(255, 255, 255);
    grid-area: header;
}
.item2{
    background-color: rgb(255, 255, 255);
    grid-area: nav;
}
.item3{
    background-color:rgb(255, 255, 255);
    grid-area: main;
}
.item4{
    background-color: rgb(255, 255, 255);
    grid-area: aside;
}
.item5{
    background-color: rgb(255, 255, 255);
    grid-area: footer;
}
@media (max-width: 768px){
    .grid-container{
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        text-transform: uppercase;
        width: 90%;
        height: 600px;
        margin: 40px auto;
        border: 1px groove black;
        display: grid;
        grid-template-columns: 100%; /*establece tamaño en eje horizontal*/
        grid-template-rows: repeat(4, auto); /*establece tamaño en eje vertical*/
        grid-template-areas:
        "header"

        "main" 
        "aside" 
        "footer"
        ;
        gap: 10px; /*espacio entre items*/
    }
    .item2{
        display: none;
    }
}
    /*Ofertas*/
    p{
        font-family: 'Cormorant SC', serif;
        font-size: 20px;
        padding: 10px; 
        box-sizing: content-box;
        margin: 5px;
    }
    .row{
        margin: 5px;
        justify-content: space-around;
        
    }
    .text{
        width: 90%;
    }
    
    .barra{
        display: block;
        padding: 5px;
        justify-content: space-between;
    }