@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}
/*INDEX*/
body{
    background-color: antiquewhite;
    
}
.cabecera{
    margin-bottom:10px;
    background: radial-gradient(circle, rgba(0,212,255,1) 19%, rgba(9,9,121,1) 82%, rgba(2,0,36,1) 100%);
}
.logo{
    width: 100px;
}
.buscador{
    border-radius: 1rem;
    text-align: center;
    display: inline-block;
    
}
.eslogan{
    font-family: 'Cormorant SC', serif;
    font-size: 40px;
    margin: 10px;
    padding: 20px;
    display: inline-block;
    color: goldenrod;
}
/*ul{
    text-align: center;
}
nav ul li {
    border-radius: 1rem;
    background-color: goldenrod;
    margin-right: 10px;
    padding:  10px;
    display: inline-flex;
    border: solid 5px ;
    font-family: 'Cormorant SC', serif;
    font-size: 16px;
}*/
/*.Bloque-contenedor{
    display: flex;
    justify-content: center;
}
.bloque{
    font-size: 10px;
    text-align: center;
    line-height: 25px;
    padding:  20px 20px 20px 20px;
    margin: 20px 40px;
    width: 150px;
    height: 100px;
    border: groove 5px;
}

.texto{
    color: rgb(7, 0, 0);
    
}*/

/*SLIDER
.container{
    margin: auto;
    width: 800px;
    padding: 30px;
}  

}

ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
ul.slider li video{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; 
}

ul.slider li:target {
    opacity: 1; 
}

.menu{
    text-align: center;
    margin: 20px;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a{
    display: inline-block;
	text-decoration: none;
    background-color: goldenrod;
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
	margin: 5px;
}
/*Slider*/
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
h1{
    text-align: center; 
    font-family: 'Cormorant SC', serif;
}
h2{
    text-align: center; 
    font-family: 'Cormorant SC', serif;

}
h3{
    text-align: center;
    font-size: 50px;
    font-family: 'Cormorant SC', serif;;
    border-radius: 1rem;
    border: groove 3px black;
}
h5{
    display: inline-flex;
    text-align: center;
    font-size: 20px;
    font-family: 'Cormorant SC', serif;
}

.boton{
    padding: 5px 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
    /*modificador*/
    .boton:hover{
        height: 50px;
        background-color: goldenrod;
        transition: all 0.7s;
    }

/*#footer{
    width: 100%;
    background: radial-gradient(circle, rgba(0,212,255,1) 19%, rgba(9,9,121,1) 82%, rgba(2,0,36,1) 100%);
    color: goldenrod;
    padding: 20px 20px;
    font-family:'Cormorant SC';
    background-size: cover;
    background-position: center;
    font-family: 'Oswald', sans-serif;
}
footer article p{
    text-align: center;
    color: goldenrod;
    font-size: 25px;
}*/
/*INDEX*/

/*CATEGORIAS
header section article h1{
    padding: 25px;
}

.contenedor{
    width: 600px;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.5);
}

section p{
    overflow: hidden;
    max-height: 0;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    background-color: goldenrod;
}

section a{
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #212121;
    color: rgb(246, 245, 241);
    border-bottom: 2px solid gray;
}

section:target p{
    max-height: 120px;
    padding: 10px;
    
}
CATEGORIAS*/
.barra-nav{
    background-color: goldenrod;
    border-radius: 1rem;
    padding: 5px;
    border: solid 5px;
    font-size: 16px;
}


/*NOSOTROS*/
.nosotros{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding: 20px;
}
/*NOSOTROS*/

/*Ofertas*/
.grid-container{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-transform: uppercase;
    width: 40%;
    height: 700px;
    margin: 40px auto;  
    border: 1px groove black;
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-areas:
    "header header header"
    "nav   nav   nav" 
    "aside  aside   aside"
    "main  main  main"
    "footer footer footer"
    ;
    gap: 10px;
}
.items{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid;
}
.item1{
    background-color: rgb(255, 255, 255);
    grid-area: header;
}
.item2{
    background-color: rgb(255, 255, 255);
    grid-area: nav;
}
.item3{
    background-color:rgb(255, 255, 255);
    grid-area: main;
}
.item4{
    background-color: rgb(255, 255, 255);
    grid-area: aside;
}
.item5{
    background-color: rgb(255, 255, 255);
    grid-area: footer;
}
@media (max-width: 768px){
    .grid-container{
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        text-transform: uppercase;
       
        height: 600px;
        margin: 40px auto;
        border: 1px groove black;
        display: grid;
        grid-template-columns: 100%; /*establece tamaño en eje horizontal*/
        grid-template-rows: repeat(4, auto); /*establece tamaño en eje vertical*/
        grid-template-areas:
        "header"
        "main" 
        "aside" 
        "footer"
        ;
        gap: 10px; /*espacio entre items*/
    }
    .item2{
        display: none;
    }
}
    /*Ofertas*/


    p{
        font-family: 'Cormorant SC', serif;
        font-size: 20px;
        padding: 10px; 
        box-sizing: content-box;
        margin: 5px;
    }
    .row{
        margin: 5px;
        justify-content: space-around;
        
    }
    .text{
        width: 90%;

    }